# Generated
/target
/*-output.txt

# Downloaded
# https://github.com/zotero-chinese/styles/raw/ce0786d7/lib/data/items/gbt7714-data.json
/gbt7714-data.json
# https://typst-doc-cn.github.io/csl-sanitizer/chinese/src/GB-T-7714—2015（顺序编码，双语）/GB-T-7714—2015（顺序编码，双语）.csl
/GB-T-7714—2015（顺序编码，双语）.csl
# https://github.com/zotero-chinese/styles/raw/ce0786d7/src/GB-T-7714—2015（顺序编码，双语）/index.md → “GB/T 7714—2015 示例文献”
/expected-output.html
