@import "tailwindcss";
@plugin "@tailwindcss/typography";

body {
  line-height: 1.8;
  text-autospace: normal;
}

.prose {
  code {
    background-color: #f5f5f5;
    margin-inline: 0.25em;
    padding: 0.25em;
    border-radius: 0.5em;

    &::before,
    &::after {
      /* Revert tailwind .prose */
      content: "";
    }
  }

  a {
    text-decoration: none;
    color: #2599eb;

    &:hover,
    &:focus {
      text-decoration: underline;
      text-underline-offset: 0.3em;
    }
  }

  table {
    td,
    th {
      vertical-align: middle;
    }

    & > caption {
      font-weight: bold;
      font-size: large;
      margin-block: 0.5em;
    }
  }
}
